BOT_TOKEN=
ADMIN_IDS=[]
INIT_DB=true

BASE_URL=https://a5ee-37-233-84-70.ngrok-free.app
VHOST=

DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=localhost
DB_PORT=5432
DB_URL=postgresql+asyncpg://user:password@localhost:5432/dbname

REMNAWAVE_URL=https://your-panel.example.com
REMNAWAVE_API_TOKEN=your_bearer_token
REMNAWAVE_EXPIRE_DAYS=365
REMNAWAVE_SQUAD_IDS=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
